* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body, h1, h2, h3, figure, {
    margin: 0;
}

button {
    border: none;
    font-family: inherit;
}

label, p, a {
    color: #666;
    font-size: 16px;
    font-weight: 400;
}