.main-header {
    display: flex;
    justify-content: space-between;
    margin: 12px 25px;
}

.main-header .header-sphere .sphere {
    content: "";
    display: inline-block;
    background-color: #C4C4C4;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.main-header .header-sphere {
    display: flex;
    align-items: center;
}