.main-title {
    color: white;
    font-weight: 600;
    font-size: 48px;
}

.main-title.-h3 {
    font-size: 32px;
    font-weight: 200;
}

.main-title.-second {
    font-size: 32px;
    color: #333;
    margin-bottom: 30px;
}