.main-section {
    display: flex;
    background-color: #1F1F1F;;
    justify-content: space-between;
}

.main-section .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-section .description .paragraph {
    margin-top: 114px;
    margin-left: 80px;
    margin-bottom: 32px;
}